*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.header{
    background: black;
    height: 150vh;
}
.nav{
    height: 20vh;
    width: 100%;
    background-image: url(image/nav.jpeg);
}
.container{
    width: 100%;

    padding: 30px;
    background: black;
    color: white;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5;
}
.row{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.left{
    flex-basis: 50%;
}
.right{
    
    flex-basis: 50;
}
.right img{
    height: 400px;
    width: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid cyan;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-weight: 500;
    margin-bottom: 30px;
}
.btn:hover{
    background: cyan;
    color: black;
}
@media only screen and (max-width: 600px) {
    .header{ 
        height: auto;
        background: black;
        padding-bottom: 30px;
    }
    .left{
        flex-basis: 100%;
    }
    .right{
        margin-top: 50px;
    }
}